# Resultados grandes y figuras (pero versionaremos los CSV pequeños)
act1/*.png
act1/*.pdf
act1/*.log
act2/
act3/
logs/
aws/*.pem
aws/*.csv
aws/*.env
aws/credentials*
data/PanTHERIA_1-0_WR05_Aug2008.txt
data/combined_mammal_pes.csv
.Rproj.user
.Rhistory
.RData
.DS_Store
